{% extends 'base.html.twig' %}

{% set orientation  = {
    "No" : "Nord",
    "Su" : "Sud",
    "Es" : "Est",
    "Ou" : "Ouest",
    "NE" : "Nord-Est",
    "NO" : "Nord-Ouest",
    "SE" : "Sud-Est",
    "SO" : "Sud-Ouest",
}
%}

{% block title %}Hello InfraController!{% endblock %}

{% block body %}

    <div class="my-12 mx-auto max-w-6xl">

        <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Salles disponibles</h1>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Bâtiment
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Etage
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Numéro
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Orientation
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nombre de fenêtres
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nombre de portes
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Contient des ordinateurs
                    </th>
                </tr>
                </thead>
                <tbody>


                {% for salle in listeSalles | sort((a, b) => a.batiment.nom <=> b.batiment.nom ) | sort((a, b) => a.numero <=> b.numero ) %}

                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ salle.batiment.nom }}
                    </th>

                    <td class="px-6 py-4">
                        {% set etage = salle.numero|slice(0, 1) %}

                        {% if etage == 0 %}
                            Rez-de-chaussée
                        {% else %}
                            {{ etage }}<sup>e</sup> étage
                        {% endif %}

                    </td>

                    <td class="px-6 py-4">
                        {{ salle.numero }}
                    </td>

                    <td class="px-6 py-4">
                        {{ orientation[salle.orientation] }}
                    </td>

                    <td class="px-6 py-4">
                        {{ salle.nbfenetres }}
                    </td>

                    <td class="px-6 py-4">
                        {{ salle.nbportes }}
                    </td>

                    <td class="px-6 py-4">
                        {{ salle.contientpc ?? true ? 'Oui' : 'Non' }}
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}