{% extends 'base.html.twig' %}

{% block title %}Liste des relevés{% endblock %}

{% set orientation  = {
    "No" : "Nord",
    "Su" : "Sud",
    "Es" : "Est",
    "Ou" : "Ouest",
    "NE" : "Nord-Est",
    "NO" : "Nord-Ouest",
    "SE" : "Sud-Est",
    "SO" : "Sud-Ouest",
} %}

{% block body %}

    <div class="w-2/3 mx-auto my-12">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="/accueil" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                        </svg>
                        Accueil
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <a href="/plan/lister-salles" class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Liste des salles</a>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    <div class="relative overflow-x-auto max-w-7xl mx-auto">
        <h1 class="text-4xl pb-12 text-center">Plan d'expérimentation</h1>
        <div class="mb-3 flex flex-row-reverse">
            <div>
            <button
                    type="button"
                    class="float-right font-bold text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none"
                    onclick="window.location.href='/plan/ajouter-salle'"
            >
                Ajouter une salle
            </button>
            </div>
        </div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 rounded-t-2xl">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nom
                </th>
                <th scope="col" class="px-6 py-3">
                    Bâtiment
                </th>
                <th scope="col" class="px-6 py-3">
                    Orientation
                </th>
                <th scope="col" class="px-6 py-3">
                    Contient PC
                </th>
                <th scope="col" class="px-6 py-3">
                    Portes
                </th>
                <th scope="col" class="px-6 py-3">
                    Fenêtres
                </th>
                <th scope="col" class="px-6 py-3">
                    État du système d'acquisition
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
            </thead>

            {% for salle in salle %}
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ salle.nom }}
                    </th>
                    <td class="px-6 py-4">
                        {{ salle.batiment }}
                    </td>
                    <td class="px-6 py-4">
                        {{ orientation[salle.orientation] }}
                    </td>
                    <td class="px-6 py-4">
                        {% if salle.contientPc %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    <td class="px-6 py-4">
                        {{ salle.nombrePorte }}
                    </td>
                    <td class="px-6 py-4">
                        {{ salle.nombreFenetre }}
                    </td>
                    <td class="px-6 py-4">
                        {% if etat[salle.id] == 'Installation demandée' %}
                            <div class="p-1 bg-amber-500 text-white rounded-lg flex flex-row justify-between items-center">
                                <box-icon name='time-five' color='rgba(255,255,255,0.85)' class="mx-4"></box-icon>
                                <span class="text-center w-full">Installation demandée</span>
                            </div>
                        {% elseif etat[salle.id] == 'Réparation demandée' %}
                            <div class="p-1 bg-red-600 text-white rounded-lg flex flex-row justify-between items-center">
                                <box-icon name='wrench' color='rgba(255,255,255,0.85)' class="mx-4"></box-icon>
                                <span class="text-center w-full">Réparation demandée</span>
                            </div>
                        {% elseif etat[salle.id] == 'Opérationnel' %}
                            <div class="p-1 bg-emerald-500 text-white rounded-lg flex flex-row justify-start items-center">
                                <box-icon name='check-double' color='rgba(255,255,255,0.85)' class="mx-4"></box-icon>
                                <span class="text-center w-full">Opérationnel</span>
                            </div>
                        {% elseif etat[salle.id] == 'Non installé' %}
                            <a href="/plan/{{ salle.id }}/demander-installation" class="p-1 bg-blue-500 hover:bg-blue-700 duration-300 text-white rounded-lg flex flex-row justify-start items-center">
                                <box-icon name='right-arrow-alt' color='#ffffff' class="mx-4"></box-icon>
                                <span class="text-center w-full">Demander une installation</span>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="/plan/modifier-salle/{{ salle.id }}" class="mx-2">
                            <box-icon name='edit' color='#000000'></box-icon>
                        </a>
                        <a href="/plan/retirer-salle/{{ salle.id }}" class="mx-2">
                            <box-icon name='trash' type='solid' color='rgba(255,0,0,0.85)' ></box-icon>
                        </a>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>


{% endblock %}