{% extends 'base.html.twig' %}

{% block title %}Ajouter SA{% endblock %}

{% set nav_links = {
    '/releves' : "<box-icon name='stats' ></box-icon> Relevés",
    '/infra/charge-de-mission' : "<box-icon name='buildings'></box-icon> Infrastructure",
    '/deconnexion' : "<box-icon name='exit'></box-icon> Déconnexion"
} %}

{% block body %}
    <h1 class="w-full text-center text-2xl py-12">Ajouter un système d'acquisition à la salle {{ salle_nom }}</h1>
            <div class="w-full">
                <div class="mx-auto w-1/3">
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <label for="countries" class="block mb-2 font-medium text-gray-900 dark:text-white text-xl text-center py-5">{{ form_label(form.sa) }}</label>

                        <select name="{{ field_name(form.sa) }}" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-2/3 mx-auto p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="">{{ field_label(form.sa) }}</option>

                            {% for label, value in field_choices(form.sa) %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>

                        <div class="bg-[#0f6eb1] my-4 py-2 rounded-lg text-center text-white w-1/3 mx-auto">
                            {{ form_widget(form.submit) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
{% endblock %}