{% extends 'base.html.twig' %}

{% block title %}Smart Campus : Liste des salles{% endblock %}

{% set orientation  = {
    "No" : "Nord",
    "Su" : "Sud",
    "Es" : "Est",
    "Ou" : "Ouest",
    "NE" : "Nord-Est",
    "NO" : "Nord-Ouest",
    "SE" : "Sud-Est",
    "SO" : "Sud-Ouest",
}
%}

{% if is_granted('ROLE_CHARGE_DE_MISSION') %}
    {% set nav_links = {
        '/releves' : "<box-icon name='stats' ></box-icon> Relevés",
        '/infra/charge-de-mission/' : "<box-icon name='buildings'></box-icon> Infrastructure",
        '/deconnexion' : "<box-icon name='exit'></box-icon> Déconnexion"
    } %}
{% elseif is_granted('ROLE_TECHNICIEN') %}
    {% set nav_links = {
        '/releves' : "<box-icon name='stats' ></box-icon> Relevés",
        '/infra/technicien' : "<box-icon name='buildings'></box-icon> Infrastructure",
        '/deconnexion' : "<box-icon name='exit'></box-icon> Déconnexion"
    } %}
{% endif %}

{% block body %}

    <h1 class="w-full text-center text-2xl py-20">Liste des salles accesssibles :</h1>

    <div class="max-w-screen-xl w-5/6 mx-auto">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Bâtiment
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nom de la salle
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Etage
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Orientation
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nombre de porte
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nombre de fenêtre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Contient des PC
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Système d'acquisition
                    </th>
                    {% if is_granted('ROLE_CHARGE_DE_MISSION') %}
                        <th scope="col" class="px-6 py-3">
                            Actions
                        </th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {% for salle in listeSalles | sort((a, b) => a.batiment.nom <=> b.batiment.nom ) | sort((a, b) => a.nom <=> b.nom ) %}

                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ salle.batiment.nom }}
                        </th>

                        <td class="px-6 py-4">
                            {{ salle.nom }}
                        </td>
                        <td class="px-6 py-4">
                            {% if salle.etage == 0 %}
                                Rdc
                            {% elseif salle.etage == 1 %}
                                1er
                            {% else %}
                                {{ salle.etage }}eme
                            {% endif %}
                        </td>


                        <td class="px-6 py-4">
                            {{ orientation[salle.orientation] }}
                        </td>

                        <td class="px-6 py-4">
                            {{ salle.NbPortes }}
                        </td>

                        <td class="px-6 py-4">
                            {{ salle.nbFenetres }}
                        </td>

                        <td class="px-6 py-4">
                            {{ salle.contientpc ?? true ? 'Oui' : 'Non' }}
                        </td>

                        <td class="px-6 py-4">
                            {% if salle.SystemeAcquisition is null %}
                                -
                            {% else %}
                                {{ salle.SystemeAcquisition.tag }}
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_CHARGE_DE_MISSION') %}
                        <td class="px-6 py-4 flex">
                            {% if salle.SystemeAcquisition is null %}<a href="salles/{{ salle.id }}/ajouter-sa"><img class="w-1/4 h-auto" src="/images/ajouterSa.png"/></a>{% endif %}
                            {% if salle.SystemeAcquisition is not null %}-{% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
{% endblock %}