{% extends 'base.html.twig' %}

{% block title %}Liste des relevés{% endblock %}

{% set orientation  = {
    "No" : "Nord",
    "Su" : "Sud",
    "Es" : "Est",
    "Ou" : "Ouest",
    "NE" : "Nord-Est",
    "NO" : "Nord-Ouest",
    "SE" : "Sud-Est",
    "SO" : "Sud-Ouest",
} %}

{% block body %}


    <div class="relative overflow-x-auto max-w-7xl mx-auto">
        <h1 class="text-2xl py-12 text-center">Plan d'expérimentation</h1>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nom
                </th>
                <th scope="col" class="px-6 py-3">
                    Bâtiment
                </th>
                <th scope="col" class="px-6 py-3">
                    Orientation
                </th>
                <th scope="col" class="px-6 py-3">
                    Contient PC
                </th>
                <th scope="col" class="px-6 py-3">
                    Portes
                </th>
                <th scope="col" class="px-6 py-3">
                    Fenêtres
                </th>
                <th scope="col" class="px-6 py-3">
                    État du système d'acquisition
                </th>
            </tr>
            </thead>

            {% for salle in salle %}
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ salle.nom }}
                    </th>
                    <td class="px-6 py-4">
                        {{ salle.batiment }}
                    </td>
                    <td class="px-6 py-4">
                        {{ orientation[salle.orientation] }}
                    </td>
                    <td class="px-6 py-4">
                        {% if salle.contientPc %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    <td class="px-6 py-4">
                        {{ salle.nombrePorte }}
                    </td>
                    <td class="px-6 py-4">
                        {{ salle.nombreFenetre }}
                    </td>
                    <td class="px-6 py-4">
                        {{ etat[salle.id] }}
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>


{% endblock %}