{% extends 'base.html.twig' %}

{% block title %}Systemes d'acquisition{% endblock %}

{% block body %}
    <div class="overflow max-w-7xl mx-auto">
        <h1 class="text-4xl py-12 text-center">Liste des systèmes d'acquisition</h1>
        <div class="flex flex-row justify-between">
            <div class="lg:w-1/6 lg:mr-auto">
                {{ form_start(form) }}
                <select id="option" name="{{ field_name(form.choix) }}" class="form-control w-max bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" onchange='this.form.submit()'>

                    {% for label, value in field_choices(form.choix) %}
                        {% if value == defaut %}
                            <option value="{{ value }}" selected>{{ label }}</option>
                        {% else %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {{ form_end(form) }}
            </div>

            <button
                    type="button"
                    class="float-right font-bold text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none"
                    onclick="window.location.href='/plan/ajouter-sa'"
            >
                Ajouter un système
            </button>
        </div>
    </div>

    <div class="max-w-screen-xl mx-auto mt-10">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">

                {% if choix == "Tous les SA" %}
                <tr >
                    <th scope="col" class="py-3 px-6">
                        Nom
                    </th>
                    <th scope="col" class="py-3">
                        Salle
                    </th>
                    <th scope="col" class="py-3">
                        Bâtiment
                    </th>
                    <th scope="col" class="py-3">
                        Etat des capteurs
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Etat
                    </th>
                    <th scope="col" class="py-3 text-center">
                        Actions
                    </th>
                </tr>
                </thead>
                <thead>
                {% for systemeAcquisition in listeSa %}
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ systemeAcquisition.nom }}
                        </th>
                        <td class="py-4">
                            {% if systemeAcquisition.etat == 'Installation' %}
                                {{ attribute(listeSalleSaIntall, systemeAcquisition.id).nom|default('-') }}
                            {% else %}
                                {{ systemeAcquisition.Salle.nom|default('-') }}
                            {% endif %}
                        </td>
                        <td class="py-4">
                            {% if systemeAcquisition.etat == 'Installation' %}
                                {{ attribute(listeSalleSaIntall, systemeAcquisition.id).Batiment|default('-') }}
                            {% else %}
                                {{ systemeAcquisition.Salle.Batiment|default('-') }}
                            {% endif %}
                        </td>
                        <td id="etat-capteur" class="py-4 flex flex-row justify-center w-max text-center">
                            {% if attribute(listeEtatCapteurs, systemeAcquisition.id) is null %}
                                <p class="my-auto">Non concerné</p>
                            {% else %}
                                <div class="flex flex-row">
                                    <p class="my-auto text-center">Température : </p>
                                    {% if attribute(attribute(listeEtatCapteurs, systemeAcquisition.id), "temp") == false %}
                                        <box-icon name='x' color='#ff1d1d' class="my-auto mx-auto"></box-icon>
                                    {% else %}
                                        <box-icon name='check' color='#05d409' class="my-auto mx-auto" ></box-icon>
                                    {% endif %}
                                </div>
                                <div class="flex flex-row mx-2">
                                    <p class="my-auto text-center">Humidité : </p>
                                    {% if attribute(attribute(listeEtatCapteurs, systemeAcquisition.id), "hum") == false %}
                                        <box-icon name='x' color='#ff1d1d' class="my-auto mx-auto"></box-icon>
                                    {% else %}
                                        <box-icon name='check' color='#05d409' class="my-auto mx-auto" ></box-icon>
                                    {% endif %}
                                </div>
                                <div class="flex flex-row text-center">
                                    <p class="my-auto">Co2 : </p>
                                    {% if attribute(attribute(listeEtatCapteurs, systemeAcquisition.id), "co2") == false %}
                                        <box-icon name='x' color='#ff1d1d' class="my-auto mx-auto"></box-icon>
                                    {% else %}
                                        <box-icon name='check' color='#05d409' class="my-auto mx-auto" ></box-icon>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </td>
                        <td class="py-4">
                            {% if systemeAcquisition.etat == 'Installation' %}
                                <div class="p-1 bg-amber-500 text-white rounded-lg flex flex-row justify-evenly items-center">
                                    <box-icon name='time-five' color='rgba(255,255,255,0.85)' class="mx-4"></box-icon>
                                    <span class="text-center w-full">Installation</span>
                                </div>
                            {% elseif systemeAcquisition.etat == 'Opérationnel' %}
                                <div class="p-1 bg-emerald-500 text-white rounded-lg flex flex-row justify-evenly items-center">
                                    <box-icon name='check-double' color='rgba(255,255,255,0.85)' class="mx-4"></box-icon>
                                    <span class="text-center w-full">Opérationnel</span>
                                </div>
                            {% elseif systemeAcquisition.etat == 'Non installé' %}
                                <div class="p-1 bg-slate-400 text-white rounded-lg flex flex-row justify-evenly items-center">
                                    <box-icon name='right-arrow-alt' color='#ffffff' class="mx-4"></box-icon>
                                    <span class="text-center w-full">Non installé</span>
                                </div>
                            {% elseif systemeAcquisition.etat == 'Réparation' %}
                                <div class="p-1 bg-red-600 text-white rounded-lg flex flex-row justify-evenly items-center">
                                    <box-icon name='wrench' color='rgba(255,255,255,0.85)' class="mx-4"></box-icon>
                                    <span class="text-center w-full">Réparation</span>
                                </div>
                            {% endif %}
                        </td>
                        <td class="py-4 flex flex-row justify-center">
                            <a data-tooltip-target="tooltip-delete-{{systemeAcquisition.id}}" href="/plan/retirer-sa/{{ systemeAcquisition.id }}">
                                <box-icon name='trash' type='solid' color='rgba(255,0,0,0.85)'></box-icon>
                            </a>

                            <div id="tooltip-delete-{{systemeAcquisition.id}}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Supprimer le SA
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}


                {% elseif choix == "En cours d'installation" or choix == "Opérationnels" or choix == "Réparations"%}
                <tr >
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Salle
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Bâtiment
                    </th>
                    {% if choix == "Opérationnels" %}
                        <th scope="col" class="px-6 py-3">
                            Etat des capteurs
                        </th>
                    {% endif %}
                </tr>
                </thead>
                <thead>

                {% for systemeAcquisition in listeSa %}
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ systemeAcquisition.nom }}
                    </th>
                    <td class="px-6 py-4">
                        {% if systemeAcquisition.etat == 'Installation' %}
                            {{ attribute(listeSalleSaIntall, systemeAcquisition.id).nom|default('-') }}
                        {% else %}
                            {{ systemeAcquisition.Salle.nom|default('-') }}
                        {% endif %}
                    </td>
                    <td class="px-6 py-4">
                        {% if systemeAcquisition.etat == 'Installation' %}
                            {{ attribute(listeSalleSaIntall, systemeAcquisition.id).Batiment|default('-') }}
                        {% else %}
                            {{ systemeAcquisition.Salle.Batiment|default('-') }}
                        {% endif %}
                    </td>
                    {% if choix == "Opérationnels" %}
                        <td id="etat-capteur" class="px-6 py-4 flex flex-row w-max">
                            {% if attribute(listeEtatCapteurs, systemeAcquisition.id) is null %}
                                <p class="my-auto">Non concerné</p>
                            {% else %}
                                <div class="flex flex-row">
                                    <p class="my-auto">Température : </p>
                                    {% if attribute(attribute(listeEtatCapteurs, systemeAcquisition.id), "temp") == false %}
                                        <box-icon name='x' color='#ff1d1d' class="my-auto mx-auto"></box-icon>
                                    {% else %}
                                        <box-icon name='check' color='#05d409' class="my-auto mx-auto" ></box-icon>
                                    {% endif %}
                                </div>
                                <div class="flex flex-row mx-2">
                                    <p class="my-auto">Humidité : </p>
                                    {% if attribute(attribute(listeEtatCapteurs, systemeAcquisition.id), "hum") == false %}
                                        <box-icon name='x' color='#ff1d1d' class="my-auto mx-auto"></box-icon>
                                    {% else %}
                                        <box-icon name='check' color='#05d409' class="my-auto mx-auto" ></box-icon>
                                    {% endif %}
                                </div>
                                <div class="flex flex-row">
                                    <p class="my-auto">Co2 : </p>
                                    {% if attribute(attribute(listeEtatCapteurs, systemeAcquisition.id), "co2") == false %}
                                        <box-icon name='x' color='#ff1d1d' class="my-auto mx-auto"></box-icon>
                                    {% else %}
                                        <box-icon name='check' color='#05d409' class="my-auto mx-auto" ></box-icon>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}

                {% elseif choix == "Non installés" %}

                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for systemeAcquisition in listeSa %}
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ systemeAcquisition.nom }}
                        </th>
                    </tr>
                {% endfor %}

                {% endif %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
